apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps
  namespace: flux-system
spec:
  interval: 10m
  path: ./gitops
  prune: true
  sourceRef:
    kind: OCIRepository
    name: default
  wait: true
---
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: default
  namespace: flux-system
spec:
  interval: 10m
  ref:
    tag: main
  url: oci://ghcr.io/brenix/local-ops
---
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: flux
  namespace: flux-system
spec:
  interval: 10m
  ref:
    tag: v2.6.1
  url: oci://ghcr.io/fluxcd/flux-manifests
