apiVersion: v1
data:
  pacoloco.yaml: |-
    port: 9129
    cache_dir: /var/cache/pacoloco
    purge_files_after: 360000
    download_timeout: 3600
    repos:
      archlinux:
        urls:
          - https://arch.hu.fo/archlinux
          - http://cdnmirror.com/archlinux
          - http://arch.hu.fo/archlinux
          - https://cdnmirror.com/archlinux
          - http://mirrors.ocf.berkeley.edu/archlinux
      chaotic:
        urls:
          - https://geo-mirror.chaotic.cx
          - https://us-ut-mirror.chaotic.cx
          - https://us-tx-mirror.chaotic.cx
          - https://cdn-mirror.chaotic.cx
      cachyos:
        urls:
          - https://cdn-1.cachyos.org/repo
          - https://cdn77.cachyos.org/repo
          - https://mirror.scholarshub.world/repo
          - https://us.cachyos.org/repo
          - https://mirror.cachyos.org/repo
          - https://aur.cachyos.org/repo
          - https://cdn.cachyos.org/repo
      cachyos-v3:
        urls:
          - https://cdn-1.cachyos.org/repo
          - https://cdn77.cachyos.org/repo
          - https://us.cachyos.org/repo
          - https://mirror.cachyos.org/repo
          - https://aur.cachyos.org/repo
          - https://cdn.cachyos.org/repo
      cachyos-v4:
        urls:
          - https://cdn-1.cachyos.org/repo
          - https://cdn77.cachyos.org/repo
          - https://us.cachyos.org/repo
          - https://mirror.cachyos.org/repo
          - https://aur.cachyos.org/repo
          - https://cdn.cachyos.org/repo
kind: ConfigMap
metadata:
  labels:
    app.kubernetes.io/instance: pacoloco
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: pacoloco
    helm.sh/chart: app-template-4.2.0
  name: pacoloco
  namespace: default
---
apiVersion: v1
kind: Service
metadata:
  annotations:
    lbipam.cilium.io/ips: 192.168.2.16
  labels:
    app.kubernetes.io/instance: pacoloco
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: pacoloco
    app.kubernetes.io/service: pacoloco
    helm.sh/chart: app-template-4.2.0
  name: pacoloco
  namespace: default
spec:
  externalTrafficPolicy: Local
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: 9129
  selector:
    app.kubernetes.io/controller: main
    app.kubernetes.io/instance: pacoloco
    app.kubernetes.io/name: pacoloco
  type: LoadBalancer
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pacoloco
  namespace: default
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 30Gi
  storageClassName: ceph-block
---
apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    reloader.stakater.com/auto: "true"
  labels:
    app.kubernetes.io/controller: main
    app.kubernetes.io/instance: pacoloco
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: pacoloco
    helm.sh/chart: app-template-4.2.0
  name: pacoloco
  namespace: default
spec:
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app.kubernetes.io/controller: main
      app.kubernetes.io/instance: pacoloco
      app.kubernetes.io/name: pacoloco
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        checksum/configMaps: cca4613947063589e47ceec7c95a8da6313b78454bed259ff881a64489eb0337
      labels:
        app.kubernetes.io/controller: main
        app.kubernetes.io/instance: pacoloco
        app.kubernetes.io/name: pacoloco
    spec:
      automountServiceAccountToken: true
      containers:
      - image: ghcr.io/anatol/pacoloco:latest
        imagePullPolicy: Always
        name: main
        resources:
          limits:
            memory: 256M
          requests:
            cpu: 10m
            memory: 64M
        volumeMounts:
        - mountPath: /var/cache/pacoloco
          name: cache
        - mountPath: /etc/pacoloco.yaml
          name: config
          subPath: pacoloco.yaml
      dnsPolicy: ClusterFirst
      enableServiceLinks: false
      hostIPC: false
      hostNetwork: false
      hostPID: false
      serviceAccountName: default
      volumes:
      - name: cache
        persistentVolumeClaim:
          claimName: pacoloco
      - configMap:
          name: pacoloco
        name: config
