apiVersion: v1
data:
  recyclarr.yml: "sonarr:\n  sonarr:\n    base_url: http://sonarr.default.svc.cluster.local:8989\n
    \   api_key: !env_var SONARR_API_KEY\n\n    delete_old_custom_formats: true\n
    \   replace_existing_custom_formats: true\n\n    include:\n      - template: sonarr-quality-definition-series\n
    \     - template: sonarr-v4-quality-profile-web-1080p\n      - template: sonarr-v4-custom-formats-web-1080p\n\n
    \   quality_definition:\n      type: series\n      preferred_ratio: 0\n      qualities:\n
    \       - name: WEBDL-1080p\n          max: 200\n          preferred: 60\n        -
    name: WEBRip-1080p\n          max: 200\n          preferred: 60\n\n    quality_profiles:\n
    \     - name: WEB-1080p\n\n    custom_formats:\n      - trash_ids:\n          -
    834e534f103938853ffced4203b53e72 # 2.0 Stereo\n        assign_scores_to:\n          -
    name: WEB-1080p\n            score: 100\n\n      - trash_ids:\n          - 47435ece6b99a0b477caf360e79ba0bb
    # x265 (HD)\n          - 1bef6c151fa35093015b0bfef18279e5 # 2160p\n        assign_scores_to:\n
    \         - name: WEB-1080p\n            score: -1000\n\n      - trash_ids:\n
    \         - 32b367365729d530ca1c124a0b180c64 # Bad Dual Groups\n          - 82d40da2bc6923f41e14394075dd4b03
    # No-RlsGroup\n          - e1a997ddb54e3ecbfe06341ad323c458 # Obfuscated\n          -
    06d66ab109d4d2eddb2794d21526d140 # Retags\n        assign_scores_to:\n          -
    name: WEB-1080p\n\n      \nradarr:\n  radarr:\n    base_url: http://radarr.default.svc.cluster.local:7878\n
    \   api_key: !env_var RADARR_API_KEY\n\n    delete_old_custom_formats: true\n
    \   replace_existing_custom_formats: true\n\n    include:\n      - template: radarr-quality-definition-sqp-streaming\n
    \     - template: radarr-quality-profile-sqp-1-1080p\n      - template: radarr-custom-formats-sqp-1-1080p\n\n
    \   quality_definition:\n      type: movie\n      preferred_ratio: 0\n      qualities:\n
    \       - name: Bluray-1080p\n          max: 200\n          preferred: 60\n        -
    name: WEBDL-1080p\n          max: 200\n          preferred: 60\n        - name:
    WebRip-1080p\n          max: 200\n          preferred: 60\n        - name: WEBDL-720p\n
    \         max: 200\n          preferred: 60\n        - name: WebRip-720p\n          max:
    200\n          preferred: 60\n        - name: Bluray-720p\n          max: 200\n
    \         preferred: 60\n\n    quality_profiles:\n      - name: SQP-1 (1080p)\n\n
    \   custom_formats:\n      - trash_ids:\n          - 2899d84dc9372de3408e6d8cc18e9666
    # x264\n        assign_scores_to:\n          - name: SQP-1 (1080p)\n            score:
    1000\n\n      - trash_ids:\n          - 89dac1be53d5268a7e10a19d3c896826 # 2.0
    Stereo\n        assign_scores_to:\n          - name: SQP-1 (1080p)\n            score:
    100\n\n      - trash_ids:\n          - 839bea857ed2c0a8e084f3cbdbd65ecb # x265
    (no HDR/DV)\n          - fb392fb0d61a010ae38e49ceaa24a1ef # 2160p\n        assign_scores_to:\n
    \         - name: SQP-1 (1080p)\n            score: -1000\n\n      - trash_ids:\n
    \         - b6832f586342ef70d9c128d40c07b872 # Bad Dual Groups\n          - cc444569854e9de0b084ab2b8b1532b2
    # Black and White Editions\n          - ae9b7c9ebde1f3bd336a8cbd1ec4c5e5 # No-RlsGroup\n
    \         - 7357cf5161efbf8c4d5d0c30b4815ee2 # Obfuscated\n          - 5c44f52a8714fdd79bb4d98e2673be1f
    # Retags\n        assign_scores_to:\n          - name: SQP-1 (1080p)\n"
kind: ConfigMap
metadata:
  annotations:
    kustomize.toolkit.fluxcd.io/substitute: disabled
  name: recyclarr
  namespace: default
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: recyclarr
  namespace: default
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: ceph-block
---
apiVersion: batch/v1
kind: CronJob
metadata:
  labels:
    app.kubernetes.io/controller: recyclarr
    app.kubernetes.io/instance: recyclarr
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: recyclarr
    helm.sh/chart: app-template-4.5.0
  name: recyclarr
  namespace: default
spec:
  concurrencyPolicy: Forbid
  failedJobsHistoryLimit: 1
  jobTemplate:
    spec:
      backoffLimit: 0
      template:
        metadata:
          labels:
            app.kubernetes.io/controller: recyclarr
            app.kubernetes.io/instance: recyclarr
            app.kubernetes.io/name: recyclarr
        spec:
          automountServiceAccountToken: true
          containers:
          - args:
            - sync
            envFrom:
            - secretRef:
                name: recyclarr
            image: ghcr.io/recyclarr/recyclarr:7.5.2
            name: app
            resources:
              limits:
                memory: 128Mi
              requests:
                cpu: 10m
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                - ALL
              readOnlyRootFilesystem: true
            volumeMounts:
            - mountPath: /config
              name: config
            - mountPath: /config/recyclarr.yml
              name: config-file
              readOnly: true
              subPath: recyclarr.yml
            - mountPath: /config/logs
              name: config-logs
          dnsPolicy: ClusterFirst
          enableServiceLinks: false
          hostIPC: false
          hostNetwork: false
          hostPID: false
          restartPolicy: Never
          securityContext:
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch
            runAsGroup: 1000
            runAsNonRoot: true
            runAsUser: 1000
            seccompProfile:
              type: RuntimeDefault
          serviceAccountName: default
          volumes:
          - name: config
            persistentVolumeClaim:
              claimName: recyclarr
          - configMap:
              name: recyclarr
            name: config-file
          - emptyDir: {}
            name: config-logs
      ttlSecondsAfterFinished: 86400
  schedule: 0 0 * * *
  startingDeadlineSeconds: 30
  successfulJobsHistoryLimit: 1
  suspend: false
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: recyclarr
  namespace: default
spec:
  data:
  - remoteRef:
      key: RADARR_API_KEY
    secretKey: RADARR_API_KEY
  - remoteRef:
      key: SONARR_API_KEY
    secretKey: SONARR_API_KEY
  secretStoreRef:
    kind: ClusterSecretStore
    name: doppler
  target:
    name: recyclarr
    template:
      data:
        RADARR_API_KEY: '{{ .RADARR_API_KEY }}'
        SONARR_API_KEY: '{{ .SONARR_API_KEY }}'
      engineVersion: v2
