apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
    name: cilium
    namespace: flux-system
spec:
    force: false
    interval: 30m
    path: components/cilium
    prune: false
    sourceRef:
        kind: OCIRepository
        name: default
    targetNamespace: kube-system
