apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
    name: external-secrets
    namespace: flux-system
spec:
    force: false
    interval: 30m
    path: components/external-secrets
    prune: false
    sourceRef:
        kind: OCIRepository
        name: default
    targetNamespace: security
