apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
    name: external-dns
    namespace: flux-system
spec:
    force: false
    interval: 30m
    path: components/external-dns
    prune: false
    sourceRef:
        kind: OCIRepository
        name: default
    targetNamespace: network
