apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
    name: flux
    namespace: flux-system
spec:
    force: false
    interval: 30m
    path: components/flux
    prune: false
    sourceRef:
        kind: OCIRepository
        name: default
    targetNamespace: flux-system
