apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
    name: jellyfin
    namespace: flux-system
spec:
    force: false
    interval: 30m
    path: components/jellyfin
    prune: false
    sourceRef:
        kind: OCIRepository
        name: default
    targetNamespace: default
