apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
    name: rook-ceph-cluster
    namespace: flux-system
spec:
    force: false
    interval: 30m
    path: components/rook-ceph-cluster
    prune: false
    sourceRef:
        kind: OCIRepository
        name: default
    targetNamespace: rook-ceph
