apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
    name: system-upgrade-controller
    namespace: flux-system
spec:
    force: false
    interval: 30m
    path: components/system-upgrade-controller
    prune: false
    sourceRef:
        kind: OCIRepository
        name: default
    targetNamespace: system-upgrade
