apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
    name: velero
    namespace: flux-system
spec:
    force: true
    interval: 30m
    path: components/velero
    prune: true
    sourceRef:
        kind: OCIRepository
        name: default
    targetNamespace: velero
