apiVersion: v1
kind: Service
metadata:
  annotations:
    lbipam.cilium.io/ips: 192.168.2.14
  labels:
    app.kubernetes.io/instance: stirlingpdf
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: stirlingpdf
    app.kubernetes.io/service: stirlingpdf
    helm.sh/chart: app-template-4.1.1
  name: stirlingpdf
  namespace: default
spec:
  externalTrafficPolicy: Local
  ports:
  - name: http
    port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    app.kubernetes.io/controller: main
    app.kubernetes.io/instance: stirlingpdf
    app.kubernetes.io/name: stirlingpdf
  type: LoadBalancer
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/controller: main
    app.kubernetes.io/instance: stirlingpdf
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: stirlingpdf
    helm.sh/chart: app-template-4.1.1
  name: stirlingpdf
  namespace: default
spec:
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app.kubernetes.io/controller: main
      app.kubernetes.io/instance: stirlingpdf
      app.kubernetes.io/name: stirlingpdf
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app.kubernetes.io/controller: main
        app.kubernetes.io/instance: stirlingpdf
        app.kubernetes.io/name: stirlingpdf
    spec:
      automountServiceAccountToken: true
      containers:
      - env:
        - name: LANGS
          value: en_US
        image: frooodle/s-pdf:0.46.2
        name: main
      dnsPolicy: ClusterFirst
      enableServiceLinks: false
      hostIPC: false
      hostNetwork: false
      hostPID: false
      serviceAccountName: default
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  labels:
    app.kubernetes.io/instance: stirlingpdf
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: stirlingpdf
    helm.sh/chart: app-template-4.1.1
  name: stirlingpdf
  namespace: default
spec:
  hostnames:
  - pdf.brenix.com
  parentRefs:
  - group: gateway.networking.k8s.io
    kind: Gateway
    name: internal
    namespace: kube-system
    sectionName: https
  rules:
  - backendRefs:
    - group: ""
      kind: Service
      name: stirlingpdf
      namespace: default
      port: 8080
      weight: 1
